<nav class="" style="display: flex; justify-content: space-around;">
    <!-- <div class="container-fluid"> -->
    <!-- <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" (click)="noListNav.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup" mdbCollapse #noListNav="mdbCollapse"> -->
    <div class="">
        <a class="" href="/">Home</a>
        <a class="" href="/details">Details</a>
        <a class="" href="/form">Form</a>
        <a class=" " href="/list">List</a>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</nav>