<div>
    <form [formGroup]="profileForm" action="" method="post">
        <div>
            <label for="firstName">First Name : </label>
            <input id="firstName" type="text" formControlName="firstName">
        </div>
        <div>
            <label for="name">Last Name : </label>
            <input id="name" type="text" formControlName="name">
        </div>
        <div>
            <label for="email">Email : </label>
            <input id="email" type="email" formControlName="email">
        </div>
        <div>
            <label for="userName">Email : </label>
            <input id="userName" type="text" formControlName="userName">
        </div>
        <button type="submit">Envoyer</button>
    </form>
</div>